<% if object.errors.any? %>
  <div id="error_explanation">
  <div class="alert alert-danger">
    フォームには <%= pluralize(object.errors.count, "つのエラーが含まれています")%>
  </div>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
