<footer class="footer">
  <small>
    Rails Stuby
    by Hironobu Nakamura
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <%# <li><a href="https://news.railstutorial.org/">News</a></li> %>
    </ul>
  </nav>
</footer>
