<footer class="footer">
  <small>
    Rails 勉強会
    by Hironobu Nakamura
  </small>
  <nav>
    <ul>
      <li><%= link_to image_tag("twitter.svg", alt: "Twitter logo", width: "20px",class: 'footer-logo'),
                      "#" %><span style="margin-left: 10px">Hironob36776105</span></li>
    </ul>
  </nav>
</footer>
